.main {
  position: relative;
  min-height: 100%;
  width: 100vw;
  section {
    position: relative;
    display: flex;
    padding-top: 3rem;
    flex-direction: column;
    align-items: center;
  }
}
.profile {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 70vh;
  padding-top: 0rem;

  h1 {
    color: #eeee;
    z-index: 5;
  }
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
}

.overview {
  position: relative;
  display: flex;
  padding: 2rem;
  justify-content: space-evenly;
  h1 {
    text-align: center;
  }
  section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
    height: 100%;
    width: 100%;
    span {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  span {
    padding: 0.25rem;
  }
  h2 {
    text-align: center;
  }
  h5 {
    text-align: center;
  }
  @media screen and (max-width: 600px) {
    section {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.schools {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  div {
    min-height: 80vh;
    width: 25vw;
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
    opacity: 0.98;
    &:hover,
    &:active,
    &:focus {
      filter: brightness(90%);
      opacity: 1;
      transition-duration: 1000ms;
    }
  }
  h2 {
    text-align: center;
    color: #eeee;
    font-size: 2rem;
    z-index: 2;
    pointer-events: none;
  }
  h3,
  a {
    font-size: 1rem;
    text-align: center;
    z-index: 2;
    color: #eeee;
    text-decoration: none;
    pointer-events: auto;
  }
  @media screen and (max-width: 1200px) {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    div {
      width: 50vw;
    }
    h2 {
      font-size: 1.5rem;
    }
    h3,
    a {
      font-size: 0.7rem;
    }
  }
}
.organisation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
  }
  a {
    color: #eeee;
    pointer-events: auto;
  }
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
    opacity: 0.8;
    z-index: 1;
  }
  h2 {
    font-size: 2rem;
    color: #eeee;
    z-index: 20;
  }
  h4 {
    font-size: 1.5rem;
    color: #eeee;
    z-index: 20;
  }
  @media screen and (max-width: 900px) {
    grid-template-row: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
}
.skills {
  width: 100vw;
  section {
    width: 50%;
  }
}
.languages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  table {
    width: 80vw;
    padding: 2rem;
  }
  th {
    font-size: 2rem;
    background-color: var(--color-primary);
    color: var(--color-background);
  }
  td {
    text-align: center;
  }
}
