.main {
  position: relative;
  min-height: 100%;
  width: 100vw;
  section {
    position: relative;
    display: flex;
    padding-top: 3rem;
    flex-direction: column;
    align-items: center;
  }
}
.profile {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 70vh;

  h1 {
    color: #eeee;
    z-index: 5;
  }
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
}
.aboutcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 0.25rem;
}
.overview {
  position: relative;
  display: flex;
  padding: 2rem;
  justify-content: space-evenly;
  // height: 100%;
  // width: 100%;
  section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
    height: 100%;
    width: 100%;
    span {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  span {
    padding: 0.25rem;
  }
  h2 {
    text-align: center;
  }
}

.schools {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    min-height: inherit;
    img {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25vw;
      height: 80vh;
      object-fit: cover;
      filter: brightness(50%);
      opacity: 0.98;
      z-index: 1;
      &:hover,
      &:active,
      &:focus {
        filter: brightness(90%);
        opacity: 1;
        transition-duration: 1000ms;
      }
    }
    h2 {
      position: relative;
      display: flex;
      color: #eeee;
      font-size: 2rem;
      z-index: 2;
      pointer-events: none;
    }
    h3,
    a {
      font-size: 1rem;
      position: relative;
      display: flex;
      z-index: 2;
      color: #eeee;
      text-decoration: none;
      pointer-events: auto;
    }
  }
}
.organisation {
  display: flex;
  flex-direction: row;
  min-height: 50vh;
  div {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 10vh;
    min-height: inherit;
  }
  a {
    color: #eeee;
    text-decoration: none;
    pointer-events: auto;
  }
  img {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
    // opacity: 0.8;
    z-index: 1;
  }
  h2 {
    font-size: 2rem;
    color: #eeee;
    z-index: 20;
  }
  h4 {
    font-size: 1.5rem;
    color: #eeee;
    z-index: 20;
  }
}
.languages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  width: 100vw;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--color-primary);
    color: var(--color-background);
    border-radius: 25px;
    min-width: 25vw;
  }
}

@media screen and (max-width: 1200px) {
  .schools {
    display: flex;
    flex-direction: column;
    // width: 100vw;
    div {
      width: 100vw;
      img {
        width: 100vw;
      }
    }
  }
  .organisation {
    flex-direction: column;
    div {
      width: 100vw;
    }
    img {
      width: 100%;
    }
  }
}
@media screen and (max-width: 600px) {
  .overview {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .aboutcard {
    align-items: center;
  }
}
