/* @import url("hexagonal.css"); */
.main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.main section {
  position: relative;
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
}
.aboutcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 0.25rem;
}
.overview {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}
.profile {
  height: 70vh;
}
.education {
  position: relative;
  width: fit-content;
  height: fit-content;
}
.schools {
  display: flex;
  min-height: 80vh;
}
.school {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25vw;
  min-height: inherit;
}
.school img {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 80vh;
  object-fit: cover;
  filter: brightness(50%);
  opacity: 0.8;
  z-index: 1;
}
.school img:hover,
.school img:active,
.school img:focus {
  filter: brightness(90%);
  opacity: 1;
  transition-duration: 1000ms;
}
.school h2 {
  position: relative;
  display: flex;
  color: #eeee;
  font-size: 2rem;
  z-index: 100;
  pointer-events: none;
}
.school h3,
.schol a {
  position: relative;
  display: flex;
  z-index: 100;
  color: #eeee;
  text-decoration: none;
}
.languages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  width: 100vw;
}
.language {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: var(--color-primary);
  color: var(--color-background);
  border-radius: 25px;
  min-width: 25vw;
}

@media screen and (max-width: 1200px) {
  .schools {
    display: flex;
    flex-direction: column;
  }
  .school {
    width: 100vw;
  }
  .school img {
    width: 100vw;
  }
}
@media screen and (max-width: 600px) {
  .aboutsection {
    flex-direction: column;
  }
}
