.nav {
  position: fixed;
  display: flex;
  padding: 0rem 2rem;
  width: 100%;
  height: 3.5rem;
  align-items: center;
  justify-content: space-around;
  z-index: 10000;
  background-color: var(--color-background);
  img {
    object-fit: contain;
  }
  a {
    pointer-events: auto;
    text-decoration: none;
  }
  a:visited {
    color: var(--color-primary);
  }
  h3 {
    padding: 1rem;
    border-radius: 50%;
    &:hover,
    &:active {
      border-radius: 50%;
      transform: rotate(360deg);
      transition-duration: 1000ms;
    }
  }
}
.footer {
  display: flex;
  padding: 2rem;
  border-top: 1px solid var(--color-primary);
  justify-content: space-around;
  align-items: center;
  div {
    display: flex;
    flex-direction: row;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-decoration: none;
  }
  p {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 0%;
  }
  h3 {
    padding: 1rem;
    border-radius: 50%;
    &:hover,
    &:active {
      border-radius: 50%;
      transform: rotate(360deg);
      transition-duration: 1000ms;
    }
  }
}

@media screen and (max-width: 1000px) {
  .footer {
    flex-direction: column;
  }
  .footer p {
    text-align: center;
    margin-left: 0px;
  }
}
