.main {
  min-height: 70vh;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  section {
    position: relative;
    display: flex;
    padding-top: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50vw;
    border-radius: 25px;
    background-color: var(--color-primary);
    color: var(--color-background);
  }
}
