.main {
  padding: 5rem 0rem;
  display: flex;
  section {
    min-width: 50vw;
    padding: 0rem 3rem;
  }
  @media screen and (max-width: 1200px) {
    flex-direction: column;
    section {
      width: 100vw;
    }
  }
  img {
    object-fit: contain;
  }
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 2rem;
    margin: 0.5rem;
  }
  h2 {
    text-align: center;
  }
  h3 {
    font-size: 2rem;
    padding: 0rem 0.5rem;
    &:hover {
      transform: rotate(360deg);
      transition-duration: 1000ms;
    }
  }
  p {
    text-indent: 1rem;
    font-size: 1rem;
  }
  div,
  main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  span {
    font-size: 1rem;
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    background-color: var(--color-secondary-accent);
  }
  @media screen and (max-width: 400px) {
    main {
      flex-direction: column;
    }
  }
}
