.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;

  section {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
